@{
    ViewBag.Title = "Do-ToDo";
}

<div class="jumbotron">
    <h1>Let's make a List</h1>
    <p><a href="https://localhost:44334/Account/Login" class="btn btn-primary btn-lg">Sign In Now! &raquo;</a></p>
</div>


